<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">
<meta name="keywords" content="Machine Learning Engineer, Generative AI, Large Language Models (LLMs), Natural Language Processing (NLP), Information Retrieval, Retrieval Augmented Generation">

<!-- end custom head snippets -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
      var header = document.querySelector('header');
      if (header) {
        var logoContainer = document.createElement('div');
        logoContainer.className = 'logo-container';
        logoContainer.innerHTML = '<img src="{{ site.logo | relative_url }}" alt="{{ site.title }}" class="logo-img">';
        header.insertBefore(logoContainer, header.firstChild);
      }

      // Smooth scrolling
      document.querySelectorAll('.nav a').forEach(anchor => {
        anchor.addEventListener('click', function(e) {
          e.preventDefault();
          document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
          });
        });
      });

      // Highlight active link
      window.addEventListener('scroll', function() {
        var fromTop = window.scrollY;
        document.querySelectorAll('.nav a').forEach(link => {
          var section = document.querySelector(link.getAttribute('href'));
          if (
            section.offsetTop <= fromTop &&
            section.offsetTop + section.offsetHeight > fromTop
          ) {
            link.classList.add('active');
          } else {
            link.classList.remove('active');
          }
        });
      });
    });
</script>