<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">
<meta name="keywords" content="Machine Learning Engineer, Generative AI, Large Language Models (LLMs), Natural Language Processing (NLP), Information Retrieval, Retrieval Augmented Generation">

<!-- Theme switcher -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const themeSwitcher = document.createElement('div');
    themeSwitcher.style.float = 'right';
    themeSwitcher.innerHTML = `
      <i id="theme-icon" class="fas fa-sun"></i>
    `;
    document.querySelector('.nav').appendChild(themeSwitcher);
    const themeIcon = document.getElementById('theme-icon');
    const currentTheme = localStorage.getItem('theme') || 'light';
    document.documentElement.setAttribute('data-theme', currentTheme);
    if (currentTheme === 'dark') {
      themeIcon.classList.remove('fa-sun');
      themeIcon.classList.add('fa-moon');
    }

    themeIcon.addEventListener('click', function() {
      if (document.documentElement.getAttribute('data-theme') === 'light') {
        document.documentElement.setAttribute('data-theme', 'dark');
        themeIcon.classList.remove('fa-sun');
        themeIcon.classList.add('fa-moon');
        localStorage.setItem('theme', 'dark');
      } else {
        document.documentElement.setAttribute('data-theme', 'light');
        themeIcon.classList.remove('fa-moon');
        themeIcon.classList.add('fa-sun');
        localStorage.setItem('theme', 'light');
      }
    });

    // Smooth scrolling with offset
    document.querySelectorAll('.nav-link').forEach(anchor => {
      anchor.addEventListener('click', function(e) {
        const href = this.getAttribute('href');
        if (href.startsWith('#')) {
          e.preventDefault();
          const targetId = href.substring(1);
          const targetElement = document.getElementById(targetId);
          const offset = document.querySelector('.navbar').offsetHeight;
          const elementPosition = targetElement.getBoundingClientRect().top;
          const offsetPosition = elementPosition - offset;

          window.scrollBy({
            top: offsetPosition,
            behavior: 'smooth'
          });
        }
      });
    });

    // Open external links in a new tab
    document.querySelectorAll('.external-link').forEach(link => {
      link.setAttribute('target', '_blank');
      link.setAttribute('rel', 'noopener noreferrer');
    });

    // Highlight active link
    window.addEventListener('scroll', function() {
      var fromTop = window.scrollY;
      document.querySelectorAll('.nav-link').forEach(link => {
        var section = document.querySelector(link.getAttribute('href'));
        if (
          section.offsetTop <= fromTop &&
          section.offsetTop + section.offsetHeight > fromTop
        ) {
          link.classList.add('active');
        } else {
          link.classList.remove('active');
        }
      });
    });
  });
</script>
<!-- end custom head snippets -->